---
http_interactions:
- request:
    method: get
    uri: https://ticketrb.fogbugz.com/api.asp?cmd=listProjects&token=26jgegikmofn27rcd6ql676fso9r22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ''
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><response><projects><project><ixProject>2</ixProject><sProject><![CDATA[Inbox]]></sProject><ixPersonOwner>2</ixPersonOwner><sPersonOwner><![CDATA[Ramon
        Martinez]]></sPersonOwner><sEmail><![CDATA[rafael@hybridgroup.com]]></sEmail><sPhone></sPhone><fInbox>true</fInbox><ixWorkflow>1</ixWorkflow><fDeleted>false</fDeleted></project><project><ixProject>1</ixProject><sProject><![CDATA[Sample
        Project]]></sProject><ixPersonOwner>2</ixPersonOwner><sPersonOwner><![CDATA[Ramon
        Martinez]]></sPersonOwner><sEmail><![CDATA[rafael@hybridgroup.com]]></sEmail><sPhone></sPhone><fInbox>false</fInbox><ixWorkflow>1</ixWorkflow><fDeleted>false</fDeleted></project></projects></response>
  recorded_at: Thu, 10 Oct 2013 19:26:18 GMT
recorded_with: VCR 2.6.0
